<div>
  <app-header></app-header>
  <div [hidden]="!isLoading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div [hidden]="isLoading" style="height: 4px"></div>
  <div class="row">
    <app-side-bar
      class="col-md-3"
      [difference]="difference"
      [isLoading]="isLoading"
      (dateEmitter)="changeDate($event)"
      (exportEmitter)="openExportFileModal($event)"
    ></app-side-bar>
    <app-world-map
      class="col-md-9"
      [isLoading]="isLoading"
      (exportEmitter)="openExportFileModal($event)"
    ></app-world-map>
  </div>
</div>
