<div class="mt-2 border-0 card world-map">
  <div class="m-1 p-1 rounded d-flex flex-row justify-content-end">
    <!-- Countries: {{ difference }} -->

    <!-- begin: import prefix button -->
    <span class="import-file-button" (click)="createPrefixesModal()">
      <mat-icon>add_circle</mat-icon>
    </span>
    <!-- end: import prefix button -->
  </div>

  <div class="box" [style]="style">
    <div id="world-map" [style]="style"></div>
  </div>

  <!-- begin: error div -->
  <div *ngIf="!dataFound" class="d-flex justify-content-center">
    <h1 class="no-data-found row">No Record Found</h1>
  </div>
  <!-- end: error div -->
</div>
