<div>
  <div class="d-flex align-items-center ps-3 pt-2 p-md-0">
    <h2 class="me-auto mb-0 custom-dialog-title" mat-dialog-title>
      Countries List
    </h2>
    <button
      color="warn"
      class="custom-button hover br-50 ms-2"
      style="color: red"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- rounded d-flex flex-row justify-content-end -->
  <div class="card-body pt-0">
    <ng-container>
      <div class="mt-2 mt-sm-4">
        <div id="country-list-container">
          <table class="me-2">
            <tr>
              <th>Country</th>
              <th>Code</th>
            </tr>
            <tr *ngFor="let country of countriesList">
              <td>{{ country.name }}</td>
              <td>{{ country.code }}</td>
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
